name: ktlint

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    kotlin:
        name: runner / suggester / spotless
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
            - uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
              with:
                  java-version: 17
                  distribution: "temurin"
                  cache: "gradle"
            - run: git fetch origin main
            - run: ./gradlew spotlessKotlinApply
            - uses: reviewdog/action-suggester@4747dbc9f9e37adba0943e681cc20db466642158 # v1.21.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  tool_name: spotless
            - run: ./gradlew spotlessKotlinCheck
