name: ktlint

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    kotlin:
        name: runner / suggester / spotless
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
              with:
                  java-version: 17
                  distribution: "temurin"
                  cache: "gradle"
            - run: git fetch origin main
            - run: ./gradlew spotlessKotlinApply
            - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  tool_name: spotless
            - run: ./gradlew spotlessKotlinCheck
